*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

handlers/*
!handlers/kinesis-stream-handler.py
!handlers/save-data-handler.py